@import "libs/mixins.scss";
@import "libs/variables.scss";

footer {
    
    padding: 20px 0 20px 0;
    background-color: $footer-background;

    .footer__title {
        @include center-mobile;
        margin: 0 auto;
        color: $light-text;
        font-size: 18px;
    }

    .footer__items {
        @include center-mobile;
        @include list-style;

        a {
            @include link-style;
            color: $light-text;

            i {
                margin-right: 10px;
            }

            .fa-hands-helping {
                font-size: 12px;
            }
        }
    }
    .footer-item {
        margin-bottom: 8px;
    }
}