@import "base/normalize";
@import "base/typography";
@import "libs/variables";
@import "libs/mixins";
@import "libs/animations";
@import "layout/content";
@import "layout/header";
@import "layout/footer";

.main__image {
    position: relative;
    height: calc(160px + 15vw);
    max-height: 300px;

    img{
        position: absolute;
        width: 100%;
        max-width: 1600px;
        height: calc(200px + 15vw); 
        max-height: 450px;
        object-fit: cover;
    }
}

.menu {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 75px;
    border-radius: 45px 45px 0 0;
    background-color: $light-background;

    &__title {
        @include flex($j-c: space-between);
        @include center-mobile;
        
        h1 {
            font-size:28px;
        }
    }

    &__like {
        @include like;
        margin-right: 25px;
    }

    &__button {
        margin-top: 50px;
        padding: 17px 45px;
        @include main-button;
    }
}

.menu-items {
    @include center-width(94%);
    max-width: 500px;
}

.menu-meal{

    &__title {
        position: relative;
        margin: 40px 0 20px 0;
        font-size: 18px;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 40px;
            height: 3px;             
            background-color: $tertiary-color;
        }
    }

    &__items {
        @include list-style;
    }
}

.menu-card {
    margin-top: 15px;
    background-color: $light-text;
    box-shadow: $box-shadow;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    
    &__infos {
        min-width: 0;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__infos-title {
        margin: 10px 0 0 0;
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;      
    }

    &__infos-text {
        margin: 10px 0 15px 0;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
    }

    &__price {
        padding: 0 20px;
        @include flex($a-i: flex-end);
        font-weight: 600;
    }

    &__check {
        width: 0px;
        display: flex;
        align-items: center;
        background-color: $tertiary-color;
        transition: width 0.4s;
        overflow: hidden;

        i {
            margin-left: 20px;
            padding: 3px;
            border-radius: 50%;
            font-size: 13px;
            overflow: hidden;
            background-color: $light-text;
            color: $tertiary-color;
        }
    }

    &:hover {
        .menu-card__check {
            width: 58px;

            i {
                animation: spin-check 0.4s linear 1 forwards;
            }
        }
    }
}

@for $i from 1 through 10 {
    #menu-card#{$i} {
        animation: fade-in 0.5s ease ($i / 4)+s 1 normal backwards,
                   translateY 0.5s ease ($i / 4)+s 1 normal backwards;
    }
}

@media #{$media-desktop} {

    .main__image {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
    }

    .menu {
        max-width: 1350px;
        margin-right: auto;
        margin-left: auto;  
        
        &__title {
            max-width: 100%;
            justify-content: center;
    
            h1 {
                font-size: 50px;
                margin-right: 30px;
            }
        }
    }
    
    .menu-items {
        max-width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .menu-meal {
        width: 30%;
    }
}

  