@import "base/normalize";
@import "base/typography";
@import "libs/variables";
@import "libs/mixins";
@import "libs/animations";
@import "layout/content";
@import "layout/loader";
@import "layout/header";
@import "layout/footer";


// Section principale
main {
    width: 100%;
}

// Box de localisation
.location {
    @include flex;
    background-color: $dark-background;
    box-shadow: 0px 2px 3px  rgba(50, 50, 50, 0.15) inset;

    &__icon {
        margin-right: 20px;
    }

    &__text {
        font-weight: 600;
    }
}

// Section de présentation
.presentation {
    @include padding-section;
    text-align: center;
    background-color: $light-background;

    &__title {
        @include center-width(70%);
        font-size: 24px;
    }

    &__text {
        @include center-width(90%);
        font-size: 18px;
        font-weight: 300;
    }

    &__button {
        margin-top: 15px;
        @include main-button;
    }

}

// Section de fonctionnement
.functioning {
        @include padding-section;

    &__title {
        @include center-mobile;
        margin-bottom: 25px;
        font-size: 24px;
    }
    
    &__steps {
        @include center-mobile;
        @include list-style;
    }
}

// Etapes de fonctionnement
.functioning-step {
    margin-bottom: 20px;
    margin-left: 11px;
    padding: 12px 0;
    @include flex($j-c: flex-start);
    border-radius: 25px;
    box-shadow: $box-shadow;        
    background-color: $light-background;
    @include link-style;
    transition: background-color 0.3s;

        
    &:hover {
        background-color: lighten($primary-color, 35);
    }
    
    &__number {
        width: 22px;
        height: 22px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: $primary-color;
        color: $light-text;
        font-size: 14px;
        transform: translateX(-50%);
    }

    &__icon {
        padding: 0 7% 0 4%;
        font-size: 19px;
    }

    &__text {
        color: $dark-text;
        font-weight: 500;
    }
}



// Section de Restaurant
.restaurants {
    @include padding-section;
    
    background-color: $light-background;

    &__title {
        @include center-mobile;
        font-size: 24px;
        margin-bottom: 25px;
    }

    &__cards {
        @include center-mobile;
        @include list-style;

        a {
            @include link-style;
        }
    }
}

// Card de restaurant
.restaurants-card {
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.02)
    }
    
    &__new {
        position: absolute;
        right: 10px;
        padding: 5px;
        border-radius: 2px;
        background-color: $tertiary-color;
        color: darken($tertiary-color, 40);
        font-size: 14px;
        font-weight: 500;
    }

    &__image {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}

// Bas de card de restaurant
.restaurants-card-bottom {

    @include flex($j-c: space-between);

    &__infos {
        margin-left: 15px;

        &-title {
            margin: 15px 0 0 0;
        }

        &-text {
            margin: 5px 0 15px 0;
            font-size: 17px;
            font-weight: 300;
        }
    }

    &__like {
        margin-right: 20px;
        @include like;
    }
}

@media #{$media-desktop} {
    
    .functioning__title, .restaurants__title {
        text-align: center;
    }

    .functioning__steps {
        @include center-desktop;
        max-width: 1600px;
        @include flex($j-c: space-between)
    }
    
    .functioning-step {
        position: relative;
        width: 25%;
    }

    .functioning-step__arrow {
        &::before{
            position: absolute;
            left: -26%;
            content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 448 512" xml:space="preserve"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>');
        }
        &::after{
            position: absolute;
            right: -26%;
            content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 448 512" xml:space="preserve"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>');
        }


    }
}


