@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(234, 234, 234, 0.9);
  -webkit-animation: fade-out 0.5s ease-out 2s 1 forwards;
          animation: fade-out 0.5s ease-out 2s 1 forwards;
}

.loader .loader__circles {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader .loader__circles::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader .loader__circles:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  bottom: 9px;
  right: 9px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loader .loader__text {
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
}

.loader .loader__text .loader__point1 {
  color: #99E2D0;
  -webkit-animation: myAnim 0.1s ease 0.6s 1 normal backwards;
          animation: myAnim 0.1s ease 0.6s 1 normal backwards;
}

.loader .loader__text .loader__point2 {
  color: #FF79DA;
  -webkit-animation: myAnim 0.1s ease 1.2s 1 normal backwards;
          animation: myAnim 0.1s ease 1.2s 1 normal backwards;
}

.loader .loader__text .loader__point3 {
  color: #9356DC;
  -webkit-animation: myAnim 0.1s ease 1.8s 1 normal backwards;
          animation: myAnim 0.1s ease 1.8s 1 normal backwards;
}
/*# sourceMappingURL=loader.css.map */