@-webkit-keyframes spin-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-check {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-check {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes translateY {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translateY {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main__image {
  width: 100%;
  height: 260px;
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.menu {
  margin-top: -40px;
  width: 100%;
  border-radius: 45px 45px 0 0;
  background-color: #f6f6f6;
}

.menu__title {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.menu__title h2 {
  font-size: calc(28px + 2vw);
}

.menu__like {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27px;
  height: 27px;
  overflow: hidden;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" xml:space="preserve"><path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75 C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"/></svg>') center/contain;
          mask: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" xml:space="preserve"><path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75 C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"/></svg>') center/contain;
}

.menu__like svg {
  stroke: black;
  fill: none;
  stroke-opacity: 1;
  -webkit-transition: stroke-opacity 2s ease-in-out;
  transition: stroke-opacity 2s ease-in-out;
  cursor: pointer;
}

.menu__like::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  border-radius: 40%;
  z-index: -1;
  top: 25px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.menu__like:hover::before {
  top: -2px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__like:hover svg {
  stroke-opacity: 0;
}

.menu-items {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.menu-meal__title {
  position: relative;
  margin: 40px 0 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.menu-meal__title::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.menu-meal__items {
  padding-left: 0;
  list-style: none;
}

.menu-card {
  margin-top: 15px;
  height: 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.menu-card__infos {
  min-width: 0;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-card__infos-title {
  margin: 10px 0 0 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card__infos-text {
  margin: 0 0 15px 0;
}

.menu-card__price {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.menu-card__check {
  width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow: hidden;
}

.menu-card__check i {
  margin-left: 20px;
  padding: 3px;
  border-radius: 50%;
  font-size: 13px;
  background-color: #ffffff;
  color: #99E2D0;
}

.menu-card:hover .menu-card__check {
  width: 58px;
}

.menu-card:hover .menu-card__check i {
  -webkit-animation: spin-check 0.5s linear 1 forwards;
          animation: spin-check 0.5s linear 1 forwards;
}

#menu-card1 {
  -webkit-animation: fade-in 0.5s ease 0.25s 1 normal backwards, translateY 0.5s ease 0.25s 1 normal backwards;
          animation: fade-in 0.5s ease 0.25s 1 normal backwards, translateY 0.5s ease 0.25s 1 normal backwards;
}

#menu-card2 {
  -webkit-animation: fade-in 0.5s ease 0.5s 1 normal backwards, translateY 0.5s ease 0.5s 1 normal backwards;
          animation: fade-in 0.5s ease 0.5s 1 normal backwards, translateY 0.5s ease 0.5s 1 normal backwards;
}

#menu-card3 {
  -webkit-animation: fade-in 0.5s ease 0.75s 1 normal backwards, translateY 0.5s ease 0.75s 1 normal backwards;
          animation: fade-in 0.5s ease 0.75s 1 normal backwards, translateY 0.5s ease 0.75s 1 normal backwards;
}

#menu-card4 {
  -webkit-animation: fade-in 0.5s ease 1s 1 normal backwards, translateY 0.5s ease 1s 1 normal backwards;
          animation: fade-in 0.5s ease 1s 1 normal backwards, translateY 0.5s ease 1s 1 normal backwards;
}

#menu-card5 {
  -webkit-animation: fade-in 0.5s ease 1.25s 1 normal backwards, translateY 0.5s ease 1.25s 1 normal backwards;
          animation: fade-in 0.5s ease 1.25s 1 normal backwards, translateY 0.5s ease 1.25s 1 normal backwards;
}

#menu-card6 {
  -webkit-animation: fade-in 0.5s ease 1.5s 1 normal backwards, translateY 0.5s ease 1.5s 1 normal backwards;
          animation: fade-in 0.5s ease 1.5s 1 normal backwards, translateY 0.5s ease 1.5s 1 normal backwards;
}

#menu-card7 {
  -webkit-animation: fade-in 0.5s ease 1.75s 1 normal backwards, translateY 0.5s ease 1.75s 1 normal backwards;
          animation: fade-in 0.5s ease 1.75s 1 normal backwards, translateY 0.5s ease 1.75s 1 normal backwards;
}

#menu-card8 {
  -webkit-animation: fade-in 0.5s ease 2s 1 normal backwards, translateY 0.5s ease 2s 1 normal backwards;
          animation: fade-in 0.5s ease 2s 1 normal backwards, translateY 0.5s ease 2s 1 normal backwards;
}

#menu-card9 {
  -webkit-animation: fade-in 0.5s ease 2.25s 1 normal backwards, translateY 0.5s ease 2.25s 1 normal backwards;
          animation: fade-in 0.5s ease 2.25s 1 normal backwards, translateY 0.5s ease 2.25s 1 normal backwards;
}

#menu-card10 {
  -webkit-animation: fade-in 0.5s ease 2.5s 1 normal backwards, translateY 0.5s ease 2.5s 1 normal backwards;
          animation: fade-in 0.5s ease 2.5s 1 normal backwards, translateY 0.5s ease 2.5s 1 normal backwards;
}

@media screen and (min-width: 1250px) {
  .menu-items {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-meal {
    width: 30%;
  }
  .menu__title {
    max-width: 40%;
  }
  .menu__like {
    margin-left: 20px;
    width: calc(27px + 1vw);
    height: calc(27px + 1vw);
  }
  .menu__like svg {
    width: calc(27px + 1vw);
    height: calc(27px + 1vw);
  }
  .menu__like::before {
    width: calc(35px + 1vw);
    height: calc(35px + 1vw);
    top: calc(25px + 1vw);
  }
}
/*# sourceMappingURL=main-menu.css.map */