.footer {
    
    padding: 20px 0 20px 0;
    background-color: $footer-background;

    &__title {
        @include center-mobile;
        margin: 0 auto;
        color: $light-text;
        font-size: 18px;
    }

    &__items {
        margin-top: 20px;
        @include center-mobile;
        @include list-style;

        a {
            @include link-style;
            color: $light-text;
            transition: color 0.3s;

            i {
                margin-right: 10px;
            }

            .fa-hands-helping {
                font-size: 12px;
            }

            &:hover {
               color: $primary-color; 
            }
        }
    }
}

.footer-item {
    margin-bottom: 8px;
}

@media #{$media-desktop} {
    .footer{
    
        &__items {
            @include center-desktop;
            @include flex;
        }

        &__title {
            text-align: center;
        }
    }

    .footer-item {
        margin: 0 30px;
    }
}