.header {
    @include center-desktop;
    position: relative;
    @include logo ;

    &__arrow {
        @include link-style;

        i {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
            font-size:calc(12px + 2vw);
        }
    }
}

@media screen and (min-width: 1600px) {

    .header__arrow i{
        font-size: 39px;
    }
}
