.header {
    position: relative;
    @include flex;

    &__arrow {
        @include link-style;

        i {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
            font-size:calc(12px + 2vw);
        }
    }
    &__logo {
        @include logo;
    }
}



@media #{$media-desktop} {
    .header {
        @include center-desktop
    }

    .header__arrow i{
        font-size: 39px;
    }
}
