.header {
    position: relative;

    &__arrow {
        @include link-style;

        i {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);
            font-size:calc(12px + 2vw);
        }
    }
}

.header-title {
    margin-block-start: 0;
    margin-block-end: 0;
    @include logo ;
}

@media screen and (min-width: 1600px) {

    .header {
        @include center-desktop
    }

    .header__arrow i{
        font-size: 39px;
    }
}
